body {
  	padding-top: 50px;
}
.starter-template {
	padding: 40px 15px;
	text-align: center;
}
.navbar-brand { 
	font-family: cursive;
}	

.svgMain {
    margin-left:auto; 
    margin-right: auto;
    display: block;
}

.bodycolor { 
    background-color: white;
}